VITE_COGNITO_REGION=
VITE_COGNITO_USER_POOL_ID=
VITE_COGNITO_CLIENT_ID=
VITE_API_URL=
VITE_COGNITO_AUTHORITY=
VITE_S3_ASSETS_URL=



TABLE_NAME=

AWS_REGION=

ASSETS_BUCKET=

USER_TABLE=
STUDY_TABLE=
SOCIAL_TABLE=
QUEST_TABLE=
MINIGAME_TABLE=
ITEMDATA_TABLE=
INVENTORY_TABLE=
GACHAHISTORY_TABLE=

DEFAULT_AVATAR_URL=

COGNITO_USER_POOL_ID=
COGNITO_CLIENT_ID=
USER_POOL_NAME=

OPENSEARCH_ENDPOINT=
OS_User_INDEX=
USER_TABLE_STREAM_ARN=